body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0,40,74);
    background: linear-gradient(90deg, rgba(0,40,74,1) 0%, rgba(37,37,135,1) 42%, rgba(73,4,133,1) 100%);
    overflow: hidden;
}

.scope {
    position: relative;
    width: 150px;
    height: 250px;
    transform-style: preserve-3d;
    animation: slid 45s linear infinite;
}

.scope span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 30deg)) translateZ(350px);
}

.scope span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.scope span:hover img {
    transform: translateY(-50px) scale(1.7);
}

@keyframes slid {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}